// Normally mainpage styles
.header
  background: url(../img/header_white.png) center/cover no-repeat
  padding: 45px 0 32px 0
  position: absolute
  width: 100%
  z-index: 40

.register
  background: url(../img/header_people.jpg) center/cover no-repeat
  position: relative
  width: 100%
  z-index: 20
  min-height: 815px
  &__click
    border: 2px solid #2d67b2
    border-radius: 15px
    width: 384px
    height: 81px
    position: absolute
    //bottom: 66px
    bottom: 71px
    left: 50%
    transform: translateX(-50%)
    background: none
    +r(396)
      width: 278px
  &__text
    +calibri
    font-size: 24px
    line-height: 2.4
    text-transform: uppercase
    padding: 0 19%
    letter-spacing: 0.3px
    +r(396)
      padding: 0

.offers
  &__text
    +calibri
    font-size: 36px
    font-weight: bold
    line-height: 1.16
    span
      font-size: 60px
      color: $blue
      font-weight: normal
      line-height: 0
  &__above
    padding: 0 0 19px 0
    text-align: center
  &__under
    +calibri
    font-size: 23.5px
    line-height: 1.33
    font-weight: normal
    padding: 0 12%
    text-align: center


.provide
  width: 100%
  background: url(../img/background_provide.png) center/cover no-repeat
  //height: 720px
  padding-top: 55px
  +r(1164)
    display: inline-block
  &__text
    text-align: center
    +calibri
    font-size: 36px
    font-weight: bold
    line-height: 1.26
    padding-bottom: 64px
    span
      font-size: 60px
      color: $orange
      font-weight: normal

  &__block
    width: 32.3%
    //display: inline-flex
    //vertical-align: bottom
    margin-bottom: 75px
    //float: left
    //height: 211px
    display: inline-block
    +r(1164)
      float: left
      width: 50%
      padding: 0 6%
    +r(958)
      width: 100%
      padding: 0 14%
    +r(561)
      padding: 0 7%
    +r(452)
      text-align: center
      padding: 0 0 0 26%

  &__block-image
    float: left
    width: 50%
    +r(452)
      width: 59%
    //display: inline-block
    //vertical-align: bottom


  &__block-text
    float: left
    width: 50%
    padding-left: 2%
    padding-top: 30px
    +r(459)
      float: none
      width: 63%
    a
      +calibriI
      font-size: 16.2px
      color: $orange
    .more
      padding-bottom: 10px
      +calibri
      font-size: 19px
      line-height: 1.2

  //  display: inline-block
  //  vertical-align: middle

  //
  //.test, .test1
    display: inline-block
    vertical-align: middle
.present
  width: 100%
  overflow: hidden
  +r(1120)

  &__demo
    width: 49%
    display: inline-block
    text-align: center
    //padding: 130px 115px
    float: left
    +r(1120)
      width: 100%

  &__text
    +calibri
    font-size: 36px
    font-weight: bold
    padding: 20% 14% 0 14%
    line-height: 1
    +r(1120)
      padding: 5% 14%
  &__money
    +calibriL
    font-size: 60px
    color: $orange
  &__account
    +calibri
    font-weight: normal
  &__bounty
    color: $blue
    font-size: 36px
    +calibri
    font-weight: bold
  &__present
    text-transform: uppercase
    color: $blue
    font-size: 60px
    font-weight: normal

  &__form
    width: 41%
    float: left
    background: #e6eefd
    display: inline-block
    text-align: center
    padding-top: 17px
    margin-right: 112px
    +r(1120)
      width: 100%
      padding: 0
  &__contacts
    +calibri
    font-size: 24px
    font-weight: bold
    padding: 3% 0
.check
  display: inline-block
  text-align: -webkit-auto

  width: 305px
.fill
  height: 35px
  width: 305px
  margin-bottom: 20px
.send
  border: 2px solid #2d67b2
  border-radius: 15px
  max-width: 276px
  height: 76px
  background: none
  +calibri
  font-weight: bold
  font-size: 24px
  text-transform: uppercase
.sumbit
  padding-top: 20px



.footer
  width: 100%
  background: url(../img/background_footer.png) center/cover no-repeat
  padding-bottom: 70px
  padding-top: 33px
  &__company
    +calibri
    font-size: 36px
    font-weight: bold
    text-align: center
    color: white
    padding-bottom: 55px
  &__partner
    +calibriL
    font-size: 60px
    color: #f0b206
    font-weight: normal

  &__item
    display: inline-block
    width: 24%
    //padding-left: 60px
    vertical-align: text-top
    text-align: center
    +r(604)
      width: 47%
      padding-top: 10%
    +r(320)
      width: 100%
  &__icon
    padding-bottom: 33px
  &__icon-text
    +calibri
    font-size: 19.2px
    font-weight: bold
    color: white
    +r(320)
      width: 98%
  .color-orange
    color: $orange


.actions
  width: 100%
  height: 336px
  background: url(../img/background_footer.png) center/cover no-repeat
  +r(1161)
    display: none
  .our
    color: $orange
    font-size: 60px
    +calibriL
    font-weight: normal

  &__text
    font-size: 36px
    +calibri
    font-weight: bold
    color: white
  &__tape
    // position: absolute
  &__oval
    position: relative
    //width: 296px
    height: 193px
    overflow: hidden
    z-index: 70
    background-color: transparent
  &__ovalusd
    overflow: hidden
    position: absolute
    +vcenter
    border-radius: 0 50% 50% 0
    background-color: rgb(99, 98, 98)
    min-width: 296px
    min-height: 262px
    z-index: 50
    left: 13%
    .number
      position: absolute
      color: $orange
      font-size: 35.34px
      +calibri
      top: 12%
      left: 6%


  &__ovalusd1
    overflow: hidden
    position: absolute
    +vcenter
    border-radius: 0 50% 50% 0
    background-color: rgb(119, 117, 117)
    min-width: 296px
    min-height: 262px
    z-index: 49
    left: 34%
    .number
      position: absolute
      color: $orange
      font-size: 35.34px
      +calibri
      top: 12%
      left: 15%

  &__ovalusd2
    overflow: hidden
    position: absolute
    +vcenter
    border-radius: 0 50% 50% 0
    background-color: rgb(138, 138, 138)
    min-width: 296px
    min-height: 262px
    z-index: 48
    left: 55%
    .number
      position: absolute
      color: $orange
      font-size: 35.34px
      +calibri
      top: 12%
      left: 15%

  &__ovalusd3
    overflow: hidden
    position: absolute
    +vcenter
    //border-radius: 0 50% 50% 0
    //background-color: rgba(240, 178, 6, 0.561)
    background: url(../img/k02.png)
    min-width: 39%
    min-height: 262px
    z-index: 47
    left: 76%
    span
      +calibri
      font-weight: bold
      font-size: 53.21px
      color: black

  &__consultation
    position: absolute
    +calibri
    font-size: 19.63px
    line-height: 1.2
    top: 37%
    left: 16%
    width: 61%
    text-align: center
    color: white

  &__pig
    position: absolute
    top: 50%
    left: 42%
    font-size: 31.3px
    +calibri
    font-weight: bold
    width: 32%
    text-align: center
    line-height: 1

.bold
  +calibri
  font-weight: bold

.f2
  position: absolute
  z-index: 40
  //left: 30px
  right: -7%
  top: 50%
  transform: translateY(-50%)

.f3
  position: absolute
  z-index: 40
  right: 34%
  top: 33%
  transform: translateY(-50%)
