<footer class="footer">
  <div class="unite">
  <p class="footer__company">Компания xDirect — <span class="footer__partner">ваш надежный партнер</span></p>
<ul>
  <li class="footer__item">
    <img class="footer__icon" src="img/footer_icon1.png" alt="">
    <p class="footer__icon-text">Более <br><span class="color-orange">10 лет</span><br> работы в СНГ</p>
  </li>

  <li class="footer__item">
    <img class="footer__icon" src="img/footer_icon2.png" alt="">
    <p class="footer__icon-text">Работаем<br> на <span class="color-orange">3<br> континентах</span></p>
  </li>

  <li class="footer__item">
    <img class="footer__icon" src="img/footer_icon3.png" alt="">
    <p class="footer__icon-text">Более <br><span class="color-orange">1 млн. </span>клиентов<br> по всему миру</p>
  </li>

  <li class="footer__item">
    <img class="footer__icon" src="img/footer_icon4.png" alt="">
    <p class="footer__icon-text">Входим в состав<br> европейского<br> брокерского дома <span class="color-orange">ХTB</span> (регулирование MiFID, FCA)</p>
  </li>

</ul>
  </div>
</footer>
