<footer class="footer">
  <div class="unite">
  <p class="footer__company">Компания xDirect — <span class="footer__partner">ваш надежный партнер</span></p>
<ul>
  <li class="footer__item">
    <img class="footer__icon" src="../img/footer_icon1.png" alt="">
    <p class="footer__icon-text">Более <br>10 лет<br> работы в СНГ</p>
  </li>
  <!-- <li class="footer__item"></li> -->
  <li class="footer__item">
    <img class="footer__icon" src="../img/footer_icon2.png" alt="">
    <p class="footer__icon-text">Работаем<br> на 3<br> континентах</p>
  </li>
  <!-- <li class="footer__item"></li> -->
  <li class="footer__item">
    <img class="footer__icon" src="../img/footer_icon3.png" alt="">
    <p class="footer__icon-text">Более <br>1 млн. клиентов<br> по всему миру</p>
  </li>
  <!-- <li class="footer__item"></li> -->
  <li class="footer__item">
    <img class="footer__icon" src="../img/footer_icon4.png" alt="">
    <p class="footer__icon-text">Входим в состав<br> европейского<br> брокерского дома ХTB (регулирование MiFID, FCA)</p>
  </li>
  <!-- <li class="footer__item"></li> -->
</ul>
  </div>
</footer>
