<!-- BEGIN  header-->
<header class="header">
	<div class="unite">
		<div class="header__logo alignment">
			<a href="#" class="item-logo">
				<img src="img/logo.svg" alt="logo" class="img-logo">
			</a>
		</div>
<button type="button" name="button" class="btn-nav"></button>
		<div class="header__menu alignment open-nav">

			<ul class="nam1">
				<li class="header__item">
					<a class="block" href="#">main</a>
					<ul class="num2">
						<li class="sub-menu">main1</li>
						<li class="sub-menu">main2</li>
						<li class="sub-menu">main3</li>
						<li class="sub-menu">main4</li>
					</ul>
				</li>
				<li class="header__item">
					<a class="block" href="#">Buy</a>
					<ul class="num2">
						<li class="sub-menu">buy1</li>
						<li class="sub-menu">buy2</li>
						<li class="sub-menu">buy3</li>
						<li class="sub-menu">buy4</li>
					</ul>
				</li>
				<li class="header__item">
					<a class="block" href="#">About</a>
					<ul class="num2">
						<li class="sub-menu">About1</li>
						<li class="sub-menu">About1</li>
						<li class="sub-menu">About1</li>
						<li class="sub-menu">About1</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</header>
<!-- END header-->
