<section class="present">
  <div class="present__demo">
    <p class="present__text">Получите бесплатный
      <span class="present__account">демо-счет</span> на <span class="present__money">$10 000</span>
      для пробной торговли
    <span class="present__bounty">в подарок</span></p>
  </div>
  <div class="present__form">
    <form action="connect.php" method="get">
   <p class="present__contacts">Оставьте свои контакты, и мы свяжемся
с Вами в ближайшее время</p>
   <p><input class="fill" type="name"  placeholder="Имя:" required></p>
   <p><input class="fill" type="surname" placeholder="Фамилия:" size="3"></p>
   <p><input class="fill" type="phone" placeholder="Телефон:" required></p>
   <p><input class="fill" type="mail" placeholder="Email:" required></p>
   <label><input class="fill" type="checkbox"/>Я принимаю условия регламентирующих документов: Декларация инвестиционного риска, Политика конфиденциальности.</label>
    <p><input class="fill send" type="submit" value="Отправить"></p>
 </form>
  </div>
</section>
