<!--begin TOPIC-->
<section class="actions">
  <div class="unite">
    <p>Ваши <span>действия:</span></p>
    <div class="actions__ovals">
      <div class="actions__oval">
        <div class="actions__ovalusd">
          <!-- <img class="nun" src="../img/k01.png" alt=""> -->
          <img class="f2" src="../img/f2.png" alt="">
        </div>
        <div class="actions__ovalusd">
          <!-- <img class="nun" src="../img/k01.png" alt=""> -->
          <img class="f2" src="../img/f2.png" alt="">
        </div>
        <!-- <img class="num" src="../img/k01.png" alt="">
        <img src="../img/k01.png" alt=""> -->
      </div>
    </div>
  </div>
</section>
<!--end TOPIC-->
