<div class="present__form">
	<form action="partialsPHP/query.php" method="get" name="forma1" >
		<p class="present__contacts">Оставьте свои контакты, и мы свяжемся с Вами в ближайшее время</p>
		<p><input class="fill" name="name" type="text"  placeholder="Имя:" pattern="[A-Za-z]{4,10}"></p>
		<p><input class="fill" name="surname" type="text" placeholder="Фамилия:" pattern="[A-Za-z]{4,10}"></p>
		<p><input class="fill" name="phone" type="tel" placeholder="Телефон:" required></p>
		<p><input class="fill" name="mail" type="email" placeholder="Email:" required></p>
		<p class="check"><input type="checkbox"/>Я принимаю условия регламентирующих документов: Декларация инвестиционного риска, Политика конфиденциальности.</p>
		<p class="sumbit"><input class="fill send" type="submit" value="Отправить"></p>
	</form>
</div>
