<!--begin REGISTER-->
<section class="register">
  <div class="unite">
    <button type="button" name="button" class="register__click"><span class="register__text">Зарегистрироваться</span></button>
    <!-- <div class="register__text">
      <p class="register__topic">Компания xDirect <span>предлагает</span> ряд уникальных решений
для получения высокого дохода в кризисное время.</p>
      <p class="register__under">Станьте нашим клиентом, и мы обеспечим Вас всеми необходимыми инструментами для того, чтобы Вы зарабатывали в десятки раз больше средней зарплаты.</p>
    </div> -->
  </div>
</section>
<!--end REGISTER-->
