<!--begin TOPIC-->
<section class="actions">
  <div class="unite">
    <p class="actions__text">Ваши <span class="our">действия:</span></p>
    <div class="actions__tape">
      <div class="actions__oval">
        <div class="actions__ovalusd">
          <p class="number">01</p>
          <p class="actions__consultation">Заполните анкету и <span class="bold">зарегистрируйтесь</span> в xDirect</p>
          <img class="f2" src="img/f2.png" alt="">
        </div>
        <div class="actions__ovalusd1">
          <p class="number">02</p>
            <p class="actions__consultation">Получите подробную <span class="bold">консультацию</span> у менеджера</p>
          <img class="f2" src="img/f3.png" alt="">
        </div>
        <div class="actions__ovalusd2">
            <p class="actions__consultation">Воспользуйтесь <span class="bold">предложением</span> xDirect</p>
          <p class="number">03</p>
          <img class="f2" src="img/f4.png" alt="">
        </div>
        <div class="actions__ovalusd3">
          <img class="f3" src="img/f5.png" alt="">
          <p class="actions__pig">Получайте <span>доход</span></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--end TOPIC-->
