<!--begin PROVIDE-->
<section class="provide">
  <div class="unite">
    <p class="provide__text">xDirect Вам <span>предоставит</span></p>
    <div class="provide__block">
      <div class="provide__block-image">
        <img src="img/image_block1.png" alt="" class="test"/>
      </div>
      <div class="provide__block-text">
      <p class="more">Уникальную рыночную аналитику, не имеющую аналогов у конкурентов … </p>
        <a href="#">Узнать подробнее</a>
       </div>
    </div>
    <div class="provide__block">
      <div class="provide__block-image">
        <img src="img/image_block2.png" alt="" class="test"/>
      </div>
      <div class="provide__block-text">
        <p class="more">Комплексные авторские программы практического обучения «от новичка до профессионала» … </p>
        <a href="#">Узнать подробнее</a>
      </div>
    </div>
    <div class="provide__block">
      <div class="provide__block-image">
        <img src="img/image_block3.png" alt="" class="test"/>
      </div>
      <div class="provide__block-text">
        <p class="more">Эксклюзивный сервис торговых сигналов от Signals4You … </p>
         <a href="#">Узнать подробнее</a>
      </div>
    </div>
    <div class="provide__block">
      <div class="provide__block-image">
        <img src="img/image_block4.png" alt="" class="test"/>
      </div>
      <div class="provide__block-text">
        <p class="more">Инвестиционный консалтинг и готовые проекты для долгосрочных инвесторов …</p>
        <a href="#">Узнать подробнее</a>
      </div>
    </div>
    <div class="provide__block">
      <div class="provide__block-image">
        <img src="img/image_block5.png" alt="" class="test" />
      </div>
      <div class="provide__block-text">
        <p class="more">Лучшие торговые условия для всех
видов рынков – Forex, Stocks, Commodities от ведущего прайм-брокера ЕС … </p>
          <a href="#">Узнать подробнее</a>
      </div>
    </div>
    <div class="provide__block">
      <div class="provide__block-image">
        <img src="img/image_block6.png" alt="" class="text"/>
      </div>
      <div class="provide__block-text">
        <p class="more">Индивидуальный подход и техподдержка для каждого клиента … </p>
         <a href="#">Узнать подробнее</a>
      </div>
    </div>
  </div>
</section>
<!--end PROVIDE-->
